<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.dailyScoreChange.mapper.DorDailyScoreChangeMapper">
    
    <resultMap type="DorDailyScoreChange" id="DorDailyScoreChangeResult">
        <result property="id"    column="id"    />
        <result property="dorId"    column="dor_id"    />
        <result property="buildingId"    column="building_Id"    />
        <result property="totalSorceId"    column="total_sorce_id"    />
        <result property="scoreChangeValue"    column="score_change_value"    />
        <result property="reason"    column="reason"    />
    </resultMap>

    <sql id="selectDorDailyScoreChangeVo">
        select id, dor_id, building_Id, total_sorce_id, score_change_value, reason from dor_daily_score_change
    </sql>

    <select id="selectDorDailyScoreChangeList" parameterType="DorDailyScoreChange" resultMap="DorDailyScoreChangeResult">
        <include refid="selectDorDailyScoreChangeVo"/>
        <where>  
            <if test="dorId != null  and dorId != ''"> and dor_id = #{dorId}</if>
            <if test="buildingId != null "> and building_Id = #{buildingId}</if>
            <if test="totalSorceId != null "> and total_sorce_id = #{totalSorceId}</if>
            <if test="scoreChangeValue != null "> and score_change_value = #{scoreChangeValue}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
        </where>
    </select>
    
    <select id="selectDorDailyScoreChangeById" parameterType="Long" resultMap="DorDailyScoreChangeResult">
        <include refid="selectDorDailyScoreChangeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDorDailyScoreChange" parameterType="DorDailyScoreChange" useGeneratedKeys="true" keyProperty="id">
        insert into dor_daily_score_change
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dorId != null">dor_id,</if>
            <if test="buildingId != null">building_Id,</if>
            <if test="totalSorceId != null">total_sorce_id,</if>
            <if test="scoreChangeValue != null">score_change_value,</if>
            <if test="reason != null and reason != ''">reason,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dorId != null">#{dorId},</if>
            <if test="buildingId != null">#{buildingId},</if>
            <if test="totalSorceId != null">#{totalSorceId},</if>
            <if test="scoreChangeValue != null">#{scoreChangeValue},</if>
            <if test="reason != null and reason != ''">#{reason},</if>
         </trim>
    </insert>

    <update id="updateDorDailyScoreChange" parameterType="DorDailyScoreChange">
        update dor_daily_score_change
        <trim prefix="SET" suffixOverrides=",">
            <if test="dorId != null">dor_id = #{dorId},</if>
            <if test="buildingId != null">building_Id = #{buildingId},</if>
            <if test="totalSorceId != null">total_sorce_id = #{totalSorceId},</if>
            <if test="scoreChangeValue != null">score_change_value = #{scoreChangeValue},</if>
            <if test="reason != null and reason != ''">reason = #{reason},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDorDailyScoreChangeById" parameterType="Long">
        delete from dor_daily_score_change where id = #{id}
    </delete>

    <delete id="deleteDorDailyScoreChangeByIds" parameterType="String">
        delete from dor_daily_score_change where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>