<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.punishment.mapper.DorRewardsPunishmentMapper">
    
    <resultMap type="DorRewardsPunishment" id="DorRewardsPunishmentResult">
        <result property="id"    column="id"    />
        <result property="dorId"    column="dor_id"    />
        <result property="content"    column="content"    />
        <result property="kind"    column="kind"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectDorRewardsPunishmentVo">
        select id, dor_id, content, kind, state from dor_rewards_punishment
    </sql>

    <select id="selectDorRewardsPunishmentList" parameterType="DorRewardsPunishment" resultMap="DorRewardsPunishmentResult">
        <include refid="selectDorRewardsPunishmentVo"/>
        <where>  
            <if test="dorId != null  and dorId != ''"> and dor_id = #{dorId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="kind != null  and kind != ''"> and kind = #{kind}</if>
            <if test="state != null "> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectDorRewardsPunishmentById" parameterType="Long" resultMap="DorRewardsPunishmentResult">
        <include refid="selectDorRewardsPunishmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDorRewardsPunishment" parameterType="DorRewardsPunishment" useGeneratedKeys="true" keyProperty="id">
        insert into dor_rewards_punishment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dorId != null">dor_id,</if>
            <if test="content != null">content,</if>
            <if test="kind != null">kind,</if>
            <if test="state != null">state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dorId != null">#{dorId},</if>
            <if test="content != null">#{content},</if>
            <if test="kind != null">#{kind},</if>
            <if test="state != null">#{state},</if>
         </trim>
    </insert>

    <update id="updateDorRewardsPunishment" parameterType="DorRewardsPunishment">
        update dor_rewards_punishment
        <trim prefix="SET" suffixOverrides=",">
            <if test="dorId != null">dor_id = #{dorId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="kind != null">kind = #{kind},</if>
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDorRewardsPunishmentById" parameterType="Long">
        delete from dor_rewards_punishment where id = #{id}
    </delete>

    <delete id="deleteDorRewardsPunishmentByIds" parameterType="String">
        delete from dor_rewards_punishment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>